.BusinessD-edit {
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 1px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    margin-bottom: 30px;
  }